#demo{
    text-align: center;
    size: 50px;
}
#clicking{
    size: 70px;
    text-align: center;
    float: right;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
  }